table {
  /*border: 1px solid #2C2C2C;*/
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  /*table-layout: fixed;*/
  text-align: center;
}

tr {
  height: 30px;
  border: 1px solid #808080;
}

th {
  border: 1px solid #808080;
  text-align: center;
}

td {
  border: 1px solid #808080;
  width: 60px;
}

h4 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 15px;
}

h5 {
  font-size: 15px;
  margin: 0;
}

.months {
  font-weight: 100;
  font-size: 13px;
}

.before {
  background: #CCFFFF;
}

.after {
  background: #EEE8AA;
}

.has-text-centered {
  text-align: center;
}

.graph {
  /*background-color: white;*/
  border-radius: 3px;
}


.graph-link {
  display: block;
  margin-top: 5px;
  padding: 2px 3px;
  font-size: 15px;
  cursor: pointer;
}

.graph-link:hover {
  outline: none;
  text-decoration: underline;
}

.columns {
  text-align: center;
  margin: 10px auto;
}

.stage {
  margin-top: 5px;
  font-size: 13px;
  border: 1px solid #CECECE;
  width: auto;
}

.stage:focus {
  outline: none;
}

.forecast-details {
  background-color: #FFFFCC;
  border: 1px solid #FFA500;
  font-size: 14px;
  cursor: pointer;
  margin-left: 5px;
  padding: 3px;
  text-decoration: none;
  color: #36362B;

}

.forecast-details:hover {
  background-color: #FFFF66;

}

.forecast-details:focus {
  outline: none;
}
